
* {
    font-family: 'Open Sans', sans-serif;
}
.wrap {
    margin: auto;
    width: 900px;
}
.input-container {
    padding: 20px;
    background-color: rgb(220, 220, 220);
}
.form-group {
    margin: 10px;
    border: 10px;
    width: 90%;
}
.card-id {
    display: none;
}
.card img {
    max-width: 100%;
    height: auto;
}
