# 커밋하지 말아야 할 파일들을 정의함

# 기본 모드 모듈
node_modules/

# 맥북의 인덱스 파일
.DS_Store

# 윈도우 실행파일
*.exe

# 크리덴셜(Credential) 은 커밋 제외
secret.txt
.env

# DB파일 커밋 제외
*.db
*.sqlite
*.sqlite3

# 다운로드 받는 이미지 파일 제외
DATA/
chroma_db/
PDF/

# 파이썬 컴파일 파일 제외
*.pyc