nav{
    background-color: black;
}
nav #logoutnav{
    display: block;
}

nav #loginnav{
    display: none;
}

li{
    color:aliceblue;
}
li a{
    color:white;
}
li #mss{
    color:brown;
}


#like{
    display: none;
}
#unlike{
    display: none;
}